@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Nanum+Myeongjo&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

#messages {
    max-height: 80vh;
    overflow: auto;
    display: grid;
}

#mesnum {
    font-family: Montesserat, sans-serif;
    display: flex;
}

#mesnum>p {
    margin: 0;
    margin-right: 5px;
    font-size: 20px;
}

#mesnumnum {
    color: white;
    background-color: #FE5266;
    padding: 2px 8px 2px 8px;
    align-self: center;
}

.catpic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px;

}

.singlecat {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.singlecatpic {
    width: 35%;
}

.singlecatinfo {
    width: 70%;
    margin-left: 10px;
}

.name {
    font-family: Montesserat, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    justify-self: right;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.line {
    border-bottom: 1px rgb(219, 218, 218) solid;
    margin-left: 10px;
}

.message {
    font-family: Montesserat, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    justify-self: left;
    font-weight: 400;
    padding: 2px;
    font-size: 20px;
}