section {
    display: flex;
    justify-content: center;
    max-width: 80%;
    gap: 40vw;

}

.button {
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px; 
}

.button:hover{
    background-color: rgb(210, 210, 210, .5);
}

.arrow {
    color: #D9B046;
}

.cross {
    color: #FE5D60;

}

.star {
    color: #0C8FC9;
}

.heart {
    color: #38E9BA;
}

.lightning {
    color: #9B4ED9;
}