section {
    display: flex;
    position: absolute;
    top: 38rem;
    left: 3.7rem;
}

.button {
    margin: 0 6px 0 6px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
}

.button:hover{
    background-color: rgb(210, 210, 210, .5);
}

.arrow {
    color: #D9B046;
}

.cross {
    color: #FE5D60;

}

.star {
    color: #0C8FC9;
}

.heart {
    color: #38E9BA;
}

.lightning {
    color: #9B4ED9;
}